$accent-color: #fff;
$film-name: #000;
$film-genre: #ff6b08;
$button-and-after: #ff6b01;
$modal-seconds-text: #8c8c8c;
$footer-bg: #f7f7f7;
$footer-test: #545454;
$dark-theme-text: #fff;
$modal-bg: #fff;

//Screen sizes
$min-mobile-size: 320px;
$min-tablet-size: 768px;
$min-desktop-size: 1280px;
$max-mobile-size: 319.98px;
$max-tablet-size: 767.98px;
$max-desktop-size: 1279.98px;
