$accent-color: #FFF;
$film-name: #000;
$film-genre: #FF6B08;
$button-and-after: #FF6B01;
$modal-seconds-text: #8C8C8C;
$footer-bg: #F7F7F7;
$footer-test: #545454;

//Screen sizes
$min-mobile-size: 320px;
$min-tablet-size: 768px;
$min-desktop-size: 1280px;
$max-mobile-size: 319.98px;
$max-tablet-size: 767.98px;
$max-desktop-size: 1279.98px;