<section class="container">
  <ul class="card-collection">
    <li class="card-collection__item">
      <img
        class="card-collection__image"
        src="./images/Rectangle 5 (1).jpg"
        alt="photo"
      />
      <div class="card-collection__description">
        <h2 class="card-collection__name">GREYHOUND</h2>
        <p class="card-collection__genre">
          Drama, Actiond
          <span class="card-collection__year">2020</span>
        </p>
      </div>
    </li>
    <li class="card-collection__item">
      <img
        class="card-collection__image"
        src="./images/Rectangle 5 (1).jpg"
        alt="photo"
      />
      <div class="card-collection__description">
        <h2 class="card-collection__name">GREYHOUND</h2>
        <div class="wrapper">
          <p class="card-collection__genre">
            Drama, Actiond
            <span class="card-collection__year">2020</span>
          </p>
        </div>
      </div>
    </li>
    <li class="card-collection__item">
      <img
        class="card-collection__image"
        src="./images/Rectangle 5 (1).jpg"
        alt="photo"
      />
      <div class="card-collection__description">
        <h2 class="card-collection__name">GREYHOUND</h2>
        <p class="card-collection__genre">
          Drama, Actiond
          <span class="card-collection__year">2020</span>
        </p>
      </div>
    </li>
    <li class="card-collection__item">
      <img
        class="card-collection__image"
        src="./images/Rectangle 5 (1).jpg"
        alt="photo"
      />
      <div class="card-collection__description">
        <h2 class="card-collection__name">GREYHOUND</h2>
        <p class="card-collection__genre">
          Drama, Actiond
          <span class="card-collection__year">2020</span>
        </p>
      </div>
    </li>
    <li class="card-collection__item">
      <img
        class="card-collection__image"
        src="./images/Rectangle 5 (1).jpg"
        alt="photo"
      />
      <div class="card-collection__description">
        <h2 class="card-collection__name">GREYHOUND</h2>
        <p class="card-collection__genre">
          Drama, Actiond
          <span class="card-collection__year">2020</span>
        </p>
      </div>
    </li>
    <li class="card-collection__item">
      <img
        class="card-collection__image"
        src="./images/Rectangle 5 (1).jpg"
        alt="photo"
      />
      <div class="card-collection__description">
        <h2 class="card-collection__name">GREYHOUND</h2>
        <p class="card-collection__genre">
          Drama, Actiond
          <span class="card-collection__year">2020</span>
        </p>
      </div>
    </li>
  </ul>
</section>
