<nav class="pagination-box">
    <button class="btn-prev-next">...</button>
    <ul class="pagination-list">
        <li class="pagination-item"><button class="pagination-btn">1</button></li>
        <li class="pagination-item"><button class="pagination-btn">2</button></li>
        <li class="pagination-item"><button class="pagination-btn">3</button></li>
    </ul>
    <button class="btn-prev-next">...</button>
</nav>

<!-- ----не хоче знайти стрілочки в спрайті---- -->
<!-- <svg><use href="../images/sprite.svg#icon-arrow-left"></use></svg> -->