<div class="pagination-box js-pagination">
 <button class="btn-arrow js-prev-btn"><svg class="icon-arrow"><use href="./images/sprite.svg#icon-arrow-left"></use></svg></button>
    <!-- <button class="pagination-btn js-first-page">1</button>  --> 
    <!-- <button class="pagination-btn js-infinit-left">...</button>  -->
   <ul class="pagination-list js-pagination-box"></ul>
   <!-- <button class="pagination-btn js-infinit-right">...</button>  -->
    <!-- <button class="pagination-btn js-last-page">LP</button> -->
    <button class="btn-arrow js-next-btn"><svg class="icon-arrow"><use href="./images/sprite.svg#icon-arrow-right"></use></svg></button> 
</div>
