<div class="backdrop-team backdrop-team--is-hidden">
    <div class="modal-team">
        <button type="button" class="modal-team__close-btn">
            <svg
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M8 8L22 22" stroke="black" stroke-width="2" />
        <path d="M8 22L22 8" stroke="black" stroke-width="2" />
      </svg>
        </button>
        <div class="team-title-wrapper">
            <h1 class="team__name">dream team</h1>
        </div>
        <ul class="team">
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img"  src='./images/cat.jpg' alt = 'Artem_photo' loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Artem Hryn</p>
                    <p class="team__role">TeamLead/Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" src='./images/cat.jpg' alt = 'Olya_photo' loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Olya Negrych</p>
                    <p class="team__role">Scrum/Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" src='./images/cat.jpg' alt = 'Ivan_photo' loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Ivan Prodeus</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" src='./images/cat.jpg' alt = 'Aleksander_photo' loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Aleksander</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" src='./images/cat.jpg' alt = 'Vitaliy_photo' loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Vitaliy Krochak</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" src='./images/cat.jpg' alt = 'Kristina_photo' loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Kristina Kravchuk</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img"  src='./images/cat.jpg' alt = 'Maria_photo'loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Maria Blyzniuk</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" src='./images/cat.jpg' alt = 'Mykola_photo' loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Mykola Harasym</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" src='./images/cat.jpg' alt = 'Tetiana_photo' loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Tetiana Kotliarova</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" src='./images/cat.jpg' alt = 'Yura_photo' loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Yura Pundyak</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" src='./images/cat.jpg' alt = 'Ulyana_photo' loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Ulyana Saphrygyna</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
        </ul>
    </div>
</div>