<div class="backdrop-team backdrop-team--is-hidden">
    <div class="modal-team">
        <button type="button" class="modal-team__close-btn">
        </button>
        <div class="team-title-wrapper">
            <h1 class="team__name">team</h1>
        </div>
        <ul class="team">
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img"  loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">Artem</p>
                    <p class="team__role">Team Lead</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img"  loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">OLya</p>
                    <p class="team__role">Scrum</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">member</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img"  loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">member</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img"  loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">member</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img"  loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">member</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">member</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">member</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">member</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">member</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
            <li class="team__item">
                <div class="img-wrapper">
                    <img class="team__img" loading="lazy" />
                </div>
                <div class="team__text-content">
                    <p class="team__member">member</p>
                    <p class="team__role">Developer</p>
                </div>
            </li>
        </ul>
    </div>
</div>