.header {
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 230px;
  margin-bottom: 20px;
}

.header-home {
  background-image: url(../images/header/mobile/main@2x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header/mobile/main@3x.jpg);
  }
  @media screen and (min-width: 481px) {
    background-image: l url(../images/header/tablet/main@2x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/tablet/main@3x.jpg);
    }
    max-width: 768px;
    height: 216px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 769px) {
    background-image: url(../images/header/desktop/main@2x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/desktop/main@3x.jpg);
    }
    max-width: 1280px;
  }
}

.header-library {
  background-image: url(../images/header/mobile/library@2x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header/mobile/library@3x.jpg);
  }
  @media screen and (min-width: 481px) {
    background-image: l url(../images/header/tablet/library@2x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/tablet/library@3x.jpg);
    }
    max-width: 768px;
    height: 216px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 769px) {
    background-image: url(../images/header/desktop/library@2x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/desktop/library@3x.jpg);
    }
    max-width: 1280px;
  }
}

.nav {
  @include centeredFlex(flex, center, null);
  // display: flex;
  gap: 30px;
  // align-items: center;
  padding-top: 40px;
  margin-bottom: 54px;
  @media screen and (min-width: 481px) {
    margin-bottom: 40px;
    gap: 40px;
  }
}

.logo-btn {
  @include centeredFlex(flex, center, null);
  // z-index: 10;
  // display: flex;
  // align-items: center;
  background-color: inherit;
  @include fontRegular(Roboto, 30px, 500, 35px, #ffffff, center);
  // font-family: Roboto;
  // font-size: 30px;
  // font-weight: 500;
  // line-height: 35px;
  // letter-spacing: 0em;
  // text-align: center;
  // color: #ffffff;
  @include transition((color, text-shadow));
  &:hover,
  &:focus {
    color: #ff6b01;
    text-shadow: rgba(255, 107, 1, 0.6) 3px 3px 10px;
  }
  &:hover .logo-svg,
  &:focus .logo-svg {
    stroke: #ff6b01;
    box-shadow: 0px 3px 43px rgba(255, 107, 1, 0.6);
  }
}

.logo-svg {
  stroke: #ffffff;
  @include transition((stroke, box-shadow));
  @media screen and (min-width: 520px) {
    margin-right: 10px;
  }
}

.logo-text {
  @media screen and (max-width: 520px) {
    display: none;
  }
}

.home-btn {
  position: relative;
  background-color: inherit;
  @include fontRegular(Roboto, 12px, 500, 14px, #ffffff, center);
  // font-family: Roboto;
  // font-size: 12px;
  // font-weight: 500;
  // line-height: 14px;
  letter-spacing: 0em;
  // text-align: center;
  // color: #ffffff;
  margin-left: auto;
  @include transition((color, text-shadow));
  &:hover,
  &:focus {
    color: #ff6b01;
    text-shadow: #ff6b01 1px 0px 10px;
  }
}

.library-btn {
  position: relative;
  background-color: inherit;
  @include fontRegular(Roboto, 12px, 500, 14px, #ffffff, center);

  // font-family: Roboto;
  // font-size: 12px;
  // font-weight: 500;
  // line-height: 14px;
  letter-spacing: 0em;
  // text-align: center;
  // color: #ffffff;
  @include transition((color, text-shadow));
  &:hover,
  &:focus {
    color: #ff6b01;
    text-shadow: #ff6b01 1px 0px 10px;
  }
}

.login-btn {
  position: relative;
  background-color: inherit;
  @include fontRegular(Roboto, 12px, 500, 14px, #ffffff, center);

  // font-family: Roboto;
  // font-size: 12px;
  // font-weight: 500;
  // line-height: 14px;
  letter-spacing: 0em;
  // text-align: center;
  // color: #ffffff;
  cursor: default;
  @include transition((color, text-shadow));
  &:hover,
  &:focus {
    color: #ff6b01;
    text-shadow: #ff6b01 1px 0px 10px;
  }
  &:hover .popup,
  &:focus .popup {
    // opacity: 1;
    // display: block;
    visibility: visible;
  }
}

.login-text {
  cursor: pointer;
}

.search-form {
  width: 280px;
  border-bottom: 0.5px solid #ffffff;
  margin: 0 auto;
  margin-bottom: 16px;
  @include tablet {
    width: 336px;
    margin-bottom: 20px;
  }
  @include desktop {
    width: 394px;
  }
}
// .search-form__margn {
//   margin-bottom: 24px;
// }

.input-search {
  color: #ffffff;
  background-color: inherit;
  border: 0;
  width: 260px;

  padding: 0;
  margin: 0;

  @include tablet {
    width: 316px;
  }
  @include desktop {
    width: 374px;
  }
}

.submit-btn {
  background-color: inherit;
  //   background-image: url(../images/sprite.svg#icon-search);
  // background-size: 15px 15px;
  border: 0;
  margin: 0;
  padding: 0;
}

.search-svg {
  stroke: #ffffff;
}
.search-error {
  @include fontRegular(Roboto, 14px, 400, 16px, #ff001b, center);
  // font-family: Roboto;
  // font-size: 14px;
  // font-weight: 400;
  // line-height: 16px;
  letter-spacing: 0em;
  // text-align: center;
  // color: #ff001b;
  margin: 0 auto;
  @media screen and (max-width: 481px) {
    width: 280px;
  }
}

.current-page::after {
  position: absolute;
  left: 0;
  bottom: -3;
  background-color: #ff001b;
  content: '';
  width: 100%;
  height: 3px;
}

.lib-btn {
  background-color: inherit;
  @include fontRegular(Roboto, 12px, 500, 16px, #ffffff, center);
  // color: #ffffff;
  // font-family: 'Roboto';
  // font-style: normal;
  // font-weight: 500;
  // font-size: 12px;
  // line-height: 16px;
  /* or 133% */

  // text-align: center;
  text-transform: uppercase;
  width: 152px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  @include transition((color, text-shadow));
  &:hover,
  &:focus {
    background-color: #ff6b01;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    border: 0;
  }
}

.lib-btn-current {
  border: 0;
  background: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.btn-flex {
  @include centeredFlex(flex, null, center);
  // display: flex;
  gap: 32px;
  // justify-content: center;
}

.user-img {
  display: inline;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.user-name {
  white-space: nowrap;
  display: block;
  color: #ffffff;
  padding: 5px 10px;
}

.popup {
  padding: 15px 0px;
  position: absolute;
  top: 100%;
  right: 0;
  // opacity: 0;
  // display: none;
  visibility: hidden;
  // width: 80px;
  // height: 80px;
  background-color: #ff0019c4;
  box-shadow: 0px 8px 43px rgba(243, 0, 0, 0.6);
  border-radius: 5px;
  @include transition(visibility);
}

.logout-btn {
  width: 85px;
  padding: 8px 15px;
  background-color: inherit;
  @include fontRegular(Roboto, 12px, 500, 14px, #ffffff, center);
  // font-family: Roboto;
  // font-size: 12px;
  // font-weight: 500;
  // line-height: 14px;
  letter-spacing: 0em;
  // text-align: center;
  // color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.logout-btn:hover {
  background: #ff6b01;
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}

.popup-item:not(:last-child) {
  margin-bottom: 15px;
}
