.header {
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 230px;
  margin-bottom: 20px;
}

.header-home {
  background-image: url(../images/header/mobile/main@2x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header/mobile/main@3x.jpg);
  }
  @media screen and (min-width: 481px) {
    background-image: l url(../images/header/tablet/main@2x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/tablet/main@3x.jpg);
    }
    max-width: 768px;
    height: 216px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 769px) {
    background-image: url(../images/header/desktop/main@2x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/desktop/main@3x.jpg);
    }
    max-width: 1280px;
  }
}

.header-library {
  background-image: url(../images/header/mobile/library@2x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header/mobile/library@3x.jpg);
  }
  @media screen and (min-width: 481px) {
    background-image: l url(../images/header/tablet/library@2x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/tablet/library@3x.jpg);
    }
    max-width: 768px;
    height: 216px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 769px) {
    background-image: url(../images/header/desktop/library@2x.jpg);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/header/desktop/library@3x.jpg);
    }
    max-width: 1280px;
  }
}

.nav {
  @include centeredFlex(flex, center, null);
  gap: 30px;
  padding-top: 40px;
  margin-bottom: 54px;
  @media screen and (min-width: 481px) {
    margin-bottom: 40px;
    gap: 40px;
  }
}

.logo-btn {
  @include centeredFlex(flex, center, null);
  background-color: inherit;
  @include fontRegular(Roboto, 30px, 500, 35px, $accent-color, center);
  @include transition((color, text-shadow));
  &:hover,
  &:focus {
    color: $button-and-after;
    text-shadow: $text-shadow 3px 3px 10px;
  }
  &:hover .logo-svg,
  &:focus .logo-svg {
    stroke: $button-and-after;
    box-shadow: 0px 3px 43px $text-shadow;
  }
}

.logo-svg {
  stroke: $accent-color;
  @include transition((stroke, box-shadow));
  @media screen and (min-width: 520px) {
    margin-right: 10px;
  }
}

.logo-text {
  @media screen and (max-width: 520px) {
    display: none;
  }
}

.home-btn {
  position: relative;
  background-color: inherit;
  @include fontRegular(Roboto, 12px, 500, 14px, $accent-color, center);
  letter-spacing: 0em;
  margin-left: auto;
  @include transition((color, text-shadow));
  &:hover,
  &:focus {
    color: $button-and-after;
    text-shadow: $button-and-after 1px 0px 10px;
  }
}

.library-btn {
  position: relative;
  background-color: inherit;
  @include fontRegular(Roboto, 12px, 500, 14px, $accent-color, center);
  letter-spacing: 0em;
  @include transition((color, text-shadow));
  &:hover,
  &:focus {
    color: $button-and-after;
    text-shadow: $button-and-after 1px 0px 10px;
  }
}

.login-btn {
  position: relative;
  background-color: inherit;
  @include fontRegular(Roboto, 12px, 500, 14px, $accent-color, center);
  letter-spacing: 0em;
  cursor: default;
  @include transition((color, text-shadow));
  &:hover,
  &:focus {
    color: $button-and-after;
    text-shadow: $button-and-after 1px 0px 10px;
  }

}

.login-text {
  cursor: pointer;
}

.search-form {
  width: 280px;
  border-bottom: 0.5px solid $accent-color;
  margin: 0 auto;
  margin-bottom: 16px;
  @include tablet {
    width: 336px;
    margin-bottom: 20px;
  }
  @include desktop {
    width: 394px;
  }
}

.input-search {
  color: $accent-color;
  background-color: inherit;
  border: 0;
  width: 260px;

  padding: 0;
  margin: 0;

  @include tablet {
    width: 316px;
  }
  @include desktop {
    width: 374px;
  }
}

.submit-btn {
      width: 15px;
    height: 15px;
  background-color: inherit;
  border: 0;
  margin: 0;
  padding: 0;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cpath d='M5.5 9.5a4 4 0 1 0 0-8 4 4 0 0 0 0 8ZM10.5 10.5 8.325 8.325' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   stroke: $accent-color;  }

// .search-svg {
//   stroke: $accent-color;
// }
.search-error {
  @include fontRegular(Roboto, 14px, 400, 16px, $second-accent, center);
  letter-spacing: 0em;
  margin: 0 auto;
  @media screen and (max-width: 481px) {
    width: 280px;
  }
}

.current-page::after {
  position: absolute;
  left: 0;
  bottom: -3;
  background-color: $second-accent;
  content: '';
  width: 100%;
  height: 3px;
}

.lib-btn {
  background-color: inherit;
  @include fontRegular(Roboto, 12px, 500, 16px, $accent-color, center);
  text-transform: uppercase;
  width: 152px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid $accent-color;
  @include transition((color, text-shadow));
  &:hover,
  &:focus {
    background-color: $button-and-after;
    box-shadow: 0px 8px 43px $text-shadow;
    border: 0;
  }
}

.lib-btn-current {
  border: 0;
  background: $button-and-after;
  box-shadow: 0px 8px 43px $text-shadow;
}

.btn-flex {
  @include centeredFlex(flex, null, center);
  gap: 32px;
}

.user-img {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;

}
.logout{
  position: relative;    &:hover .popup,
    &:focus .popup {
    opacity: 1;
    visibility: visible;
  }
}
.user-name {
  white-space: nowrap;
  display: block;
  color: $accent-color;
  padding: 5px 10px;
}

.popup {
  padding: 15px 0px;
  position: absolute;
  top: 100%;
  right: 0;
  visibility: hidden;
  opacity: 0;
  background-color: $logout-popup;
  box-shadow: 0px 8px 43px $box-shadow;
  border-radius: 5px;
  @include transition((visibility, opacity));
}

.logout-btn {
  width: 85px;
  padding: 8px 15px;
  background-color: inherit;
  @include fontRegular(Roboto, 12px, 500, 14px, $accent-color, center);
  letter-spacing: 0em;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.logout-btn:hover {
  background: $button-and-after;
  box-shadow: 0px 8px 43px $text-shadow;
}

.popup-item:not(:last-child) {
  margin-bottom: 15px;
}
